<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mailtime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="<%= asset_path('styles.css') %>">
    <script src="<%= asset_path('application.js') %>"></script>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  </head>
  <body>
	<div id='title'>MAIL TIME</div>
	<div id='links'>
	  <a href="/#!/days">DAYS</a>
	  <a href="/#!/hours">HOURS</a>
	</div>
	<div id='main'>
	</div>
	<div id='clock'>
	</div>
  </body>
</html>