/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  font: normal 20px 'Yanone Kaffeesatz', serif;
  width: 700px;
  margin: auto;
}

#clock {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
}

#clock div {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
  font: 10px sans-serif;
}

#clock a {
  color: #fff;
  font-weight: bold;
}

form {
  margin: auto;
  width: 200px;
}

button {
  float: right;
}

#title {
  width: 700px;
  text-align: center;
  font: normal 140px 'Yanone Kaffeesatz', serif;
}

#links {
  width: 700px;
  text-align: center;
  font: normal 20px 'Yanone Kaffeesatz', serif;
  display: none;
}

#links a {
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
}

text {
  font: bold 13px sans-serif;
}

span {
  width: 100%;
}

span svg {
  margin: 10px auto;
  width: 700px;
}

